<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Skill: ' + skill.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="row pt-4">
  <div class="col">
    <form method="POST" th:action="@{/skills/edit}">
      <div class="form-group">
        <label>Name
          <input class="form-control" name="name" type="text" th:value="${skill.name}">
        </label>
      </div>
      <div class="form-group">
        <label>Description
          <input class="form-control" name="description" type="text" th:value="${skill.description}">
        </label>
      </div>
      <input type="hidden" th:value="${skill.id}" name="skillId">
      <button class="btn btn-success">Save</button>
    </form>
  </div>
</div>

</body>
</html>